doctype html
html
  head
    link(rel='stylesheet', href='/main.css')
    script(src='/js/jquery.js')
    script(src='/js/showMain.js')
    block title
      title seilf
  body
    div#bar
      block info
        div#infobox
      span#footer
        p #{lib.entries.length} entries total

    div#main
      block main
