doctype html
html
  head
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/main.css')
    script(src='/js/jquery.js')
    script(src='/js/underscore.js')
    block title
      title seilf
  body
    div#bar
      block info
        div#infobox
        span#footer
          p #{lib.length} entries total

    div#main
      block main
      block search
        span#search
          i(class="fa fa-search" aria-hidden="true")
          input.titlequery(type="text" placeholder="Search by title")
    script(src='/js/commonFunctions.js')
    script(src='/js/showMain.js')
    script(src='/js/searchTitle.js')
