doctype html
html
  head
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/main.css')
    script(src='/js/jquery.js')
    script(src='/js/underscore.js')
    block title
      title seilf
  body
    div#bar
      div#buttons
        a(href="#" id="gohome" title="Home")
          span#home
            i(class="fa fa-home fa-fw" aria-hidden="true")
        a(href="#" id="freeform" title="New reference (full-text search)")
          span#lookup
            i(class="fa fa-search fa-fw" aria-hidden="true")
        span#add
          i(class="fa fa-plus fa-fw" aria-hidden="true")
        a(href="/default.json" download title="Download the entire file")
          span#download
            i(class="fa fa-download fa-fw" aria-hidden="true")
        span#stats
          i(class="fa fa-bar-chart fa-fw" aria-hidden="true")
      block info
        div#infobox
        span#footer
          p #{lib.length} entries total

    div#main
      block main
      block search
        span#search
          span.searchByTitle
            i(class="fa fa-filter fa-fw" aria-hidden="true")
            input.titlequery(type="text" placeholder="Search by title")
          span.addFreeForm
            i(class="fa fa-search fa-fw" aria-hidden="true")
            input.freeform(type="text" placeholder="Type-in a free-form citation")
    script(src='/js/commonFunctions.js')
    script(src='/js/showMain.js')
    script(src='/js/addFreeForm.js')
    script(src='/js/searchTitle.js')
    script(src='/js/ui.js')
