extends index
block main
  ul#entries
  each entry in lib
    li.entry(onClick="showMain('" + entry.id + "')" id=entry.id)
      span.title= entry.title
      span.in= entry['container-title']
      span.id= entry.id
