@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,300italic,300,400italic,500,500italic,700,700italic&subset=latin,greek")
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=latin,greek")

sans = "Fira Sans", sans-serif
mono = "Fira Mono", monospace

accent = rgb(0, 152, 208)
mellow = rgb(223, 223, 223)

*
  margin: 0px 0px
  padding: 0px 0px
  box-sizing: padding-box
  font-family: sans

html, body
  font-family: sans, sans-serif
  margin: 0px 0px !important
  padding: 0px 0px !important
  height: 100%
  min-height: 100%


#bar
  background-color: accent
  color: white
  min-height: 100%
  width: 35%
  position: fixed
  #footer
    position: absolute
    bottom: 0px
    padding: 20px
  #buttons
    width: 100%
    background-color: mellow
    a
      &:visited
        color: none
    span
      color:  black
      width: 20% !important
      display: inline-block;
      line-height: 20px
      padding: 20px
      text-align: center
      &:hover
        background-color: darken(mellow, 20%)

#main
  color: rgb(83, 83, 83)
  width: 65%
  right: 0px
  position: absolute
  top: 0px

// All lists are unstyled
ul, li
  list-style: none

ul#entries
  padding-top: 60px

li.entry
  font-size: 15px
  line-height: 20px
  height: 60px !important
  margin-bottom: 0px
  padding: 10px
  background-color: lighten(mellow, 80%)
  &:nth-child(odd)
    background-color: white
  &:hover
    color: rgb(0, 0, 0)

#main
  .title
    font-weight: bold
    white-space: nowrap
    overflow: hidden
    display: block
    text-overflow: ellipsis
  .in
    font-style: italic
  .id
    font-family: mono, monospace
    float: right
    color: lighten(accent, 40%)

#infobox
  padding: 20px
  a
    border-bottom: 1px dashed white
    color: white
    text-decoration: none
    &:hover
      border-bottom: 1px solid white
  span
    margin-bottom: 25px
    display: block
    clear: both
  .fa
    color: rgb(201, 201, 201)
    margin-right: 10px
  .author
    text-transform: lowercase;
    font-variant: small-caps;
    display: inline-block !important
    margin-right: 30px
  .title
    font-weight: 100
    font-size: 30px
  .in
    font-weight: bold
  .id, .doi, .url
    font-family: mono, monospace
  .id
    font-weight: bold
  .crossrefResult
    margin: 10px 0px
    a
      border: none
      color: mellow
      font-weight: bold
      &:hover
        border: none
        color: lighten(mellow, 50%)

#search
  background-color: mellow
  position: fixed
  top: 0
  right: 0
  display: block
  width: 65%
  padding: 20px
  height: 60px
  .fa
    font-weight: bold
    color: black
    padding-right: 20px
  input
    border: 0px solid white
    background-color: transparent
    width: 90%
    &:focus
      color accent
