@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,300italic,300,400italic,500,500italic,700,700italic&subset=latin,greek");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=latin,greek");
* {
  margin: 0px 0px;
  padding: 0px 0px;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  font-family: "Fira Sans", sans-serif;
}
html,
body {
  font-family: "Fira Sans", sans-serif, sans-serif;
  margin: 0px 0px !important;
  padding: 0px 0px !important;
  height: 100%;
  min-height: 100%;
}
#top {
  background-color: #2c3e50;
  color: #1abc9c;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
#top #buttons a:visited {
  color: none;
}
#top #buttons span {
  padding: 20px;
  color: #1abc9c;
  width: 80px;
  display: inline-block;
  text-align: center;
}
#top #buttons span:hover {
  background-color: #233240;
}
#top #search {
  display: inline-block;
  height: 60px;
  width: 50% !important;
}
#top #search .fa {
  color: #829ebb;
  text-align: center;
  width: 80px;
}
#top #search input {
  border: 0px solid #fff;
  background-color: transparent;
  color: #ecf0f1;
  width: 90% !important;
}
#top #search input:focus {
  color: #1abc9c;
}
#bar {
  background-color: #ecf0f1;
  color: #000;
  width: 400px;
  height: 100%;
  padding-top: 60px;
  position: fixed;
}
#bar #footer {
  position: absolute;
  bottom: 0px;
  padding: 20px;
}
#main {
  color: #535353;
  width: 100%;
  padding-left: 400px;
  right: 0px;
  position: absolute;
  top: 0px;
}
ul,
li {
  list-style: none;
}
ul#entries {
  padding-top: 60px;
}
li.entry {
  font-size: 15px;
  line-height: 20px;
  height: 60px !important;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #f7f9f9;
}
li.entry:nth-child(odd) {
  background-color: #fff;
}
li.entry:hover {
  color: #000;
}
#main .title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#main .in {
  font-style: italic;
}
#main .id {
  font-family: "Fira Mono", monospace, monospace;
  float: right;
  color: #f0b27a;
}
#infobox {
  padding: 20px;
  font-size: 14px;
}
#infobox a {
  border-bottom: 1px dashed #e67e22;
  color: #000;
  text-decoration: none;
}
#infobox a:hover {
  border-bottom: 1px solid #e67e22;
}
#infobox span {
  margin-bottom: 25px;
  display: block;
  clear: both;
}
#infobox .fa {
  color: #e67e22;
  margin-right: 10px;
}
#infobox .author {
  text-transform: lowercase;
  font-variant: small-caps;
  display: inline-block !important;
  margin-right: 30px;
}
#infobox .title {
  font-weight: 100;
  font-size: 20px;
  line-height: 25px;
}
#infobox .in {
  font-weight: bold;
}
#infobox .id,
#infobox .doi,
#infobox .url {
  font-family: "Fira Mono", monospace, monospace;
}
#infobox .id {
  font-weight: bold;
}
#infobox .crossrefResult {
  margin: 10px 0px;
}
#infobox .crossrefResult a {
  border: none;
  color: #2c3e50;
  font-weight: bold;
}
#infobox .crossrefResult a:hover {
  border: none;
  color: #829ebb;
}
