@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,300italic,300,400italic,500,500italic,700,700italic&subset=latin,greek");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=latin,greek");
* {
  margin: 0px 0px;
  padding: 0px 0px;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  font-family: "Fira Sans", sans-serif;
}
html,
body {
  font-family: "Fira Sans", sans-serif, sans-serif;
  margin: 0px 0px !important;
  padding: 0px 0px !important;
  height: 100%;
  min-height: 100%;
  background-color: #f8f8f8;
}
#top {
  background-color: #2980b9;
  color: #fff;
  -webkit-box-shadow: 0px 0px 5px #6e6e6e;
  box-shadow: 0px 0px 5px #6e6e6e;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
#top #buttons a:visited {
  color: none;
}
#top #buttons span {
  padding: 20px;
  color: #fff;
  width: 80px;
  display: inline-block;
  text-align: center;
}
#top #buttons span:hover {
  background-color: #216694;
}
#top #search {
  display: inline-block;
  height: 60px;
  width: 50%;
}
#top #search .fa {
  color: #8bc1e5;
  text-align: center;
  width: 80px;
}
#top #search input {
  border: 0px solid #fff;
  background-color: transparent;
  color: #fff;
  width: 50%;
  height: !important;
}
#top #search input:focus {
  color: #fff;
}
#bar {
  color: #474747;
  width: 400px;
  height: 100%;
  padding-top: 60px;
  position: fixed;
  z-index: 10;
}
#bar #footer {
  position: absolute;
  bottom: 0px;
  padding: 20px;
}
#main {
  color: #535353;
  width: 100%;
  padding-left: 400px;
  right: 0px;
  position: absolute;
  top: 0px;
}
ul,
li {
  list-style: none;
}
ul#entries {
  padding-top: 60px;
}
li.entry {
  font-size: 15px;
  line-height: 20px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 0px solid #000;
  -webkit-box-shadow: 0px 0px 2px #6e6e6e;
  box-shadow: 0px 0px 2px #6e6e6e;
  color: #474747;
}
li.entry:hover {
  -webkit-box-shadow: 0px 0px 2px #2b2b2b;
  box-shadow: 0px 0px 2px #2b2b2b;
  color: #000;
}
li.entry .inlist {
  float: right;
  font-size: 15px;
  color: #808080;
}
#main .title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#main .in {
  font-style: italic;
}
#main .id {
  font-family: "Fira Mono", monospace, monospace;
  float: right;
  color: #3498db;
}
.active {
  background-color: #fefcf3 !important;
}
#infobox {
  padding: 20px;
  font-size: 14px;
}
#infobox a {
  border-bottom: 1px dashed #3498db;
  color: #000;
  text-decoration: none;
}
#infobox a:hover {
  border-bottom: 1px solid #3498db;
}
#infobox span {
  margin-bottom: 25px;
  display: block;
  clear: both;
}
#infobox .fa {
  color: #3498db;
  margin-right: 10px;
}
#infobox .author {
  text-transform: lowercase;
  font-variant: small-caps;
  display: inline-block !important;
  margin-right: 30px;
}
#infobox .title {
  font-weight: 100;
  font-size: 20px;
  line-height: 25px;
}
#infobox .in {
  font-weight: bold;
}
#infobox .id,
#infobox .doi,
#infobox .url {
  font-family: "Fira Mono", monospace, monospace;
}
#infobox .id {
  font-weight: bold;
}
#infobox .crossrefResult {
  margin: 10px 0px;
}
#infobox .crossrefResult a {
  border: none;
  color: #2980b9;
  font-weight: bold;
}
#infobox .crossrefResult a:hover {
  border: none;
  color: #8bc1e5;
}
